* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#game {
  display: none;
  position: relative;
  z-index: -2;
}

.field {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  background: #ccc;
  z-index: -2;
}

.excel {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.snakeBody {
  background: green;
  border-radius: 50%;
}

.snakeHead {
  background: red;
  border-radius: 50%;
}

.apple {
  background: url(apple.png) center no-repeat;
  background-size: cover;
}

.score {
  display: inline-block;
  outline: none;
  border: none;
  font-size: 30px;
  position: absolute;
  top: -12%;
  left: 50%;
  transform: translateX(-50%);
}

.popup_container { 
  height: 100vh;
  background: #fff;
  z-index: 10;
}

.title {
  margin: 0;
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  position: absolute;
  top: 95%;
  left: 50%;
  height: 2px;
  width: 106px;
  transform: translateX(-53px);
  background: #000;
}

.button-warp {
  padding: 35px;
}

.button {
  display: block;
  outline: none;
  border: 2px solid black;
  margin: 0 auto;
  width: 106px;
  padding: 15px 0 15px 0;
  margin-bottom: 15px;
  background: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #000;
  color: #fff;
}

#result {
  display: none;
}

.result::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.5;
  z-index: -1;
}

.warp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150px, -125px);
  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  background: #fff;
}

.button_result {
  background: #000;
  color: #fff;
  border: 1.5px solid #000;
}

.button_result {
  background: #fff;
  color: #000;
}

.result-button_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.result__title {
  margin: 0;
  font-size: 38px;
  color: red;
}

.result__input {
  outline: none;
  border: none;
  padding-left: 33px;
  max-width: 300px;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
